<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompuMaster.ComInterop" version="1.0.17" targetFramework="net48" />
  <package id="CompuMaster.Data" version="3.0.2023.724" targetFramework="net48" />
  <package id="CompuMaster.Excel.ExcelOps" version="2023.7.26" targetFramework="net48" />
  <package id="CompuMaster.Excel.MicrosoftExcel" version="2023.7.26" targetFramework="net48" />
  <package id="CompuMaster.Reflection" version="1.0.4" targetFramework="net48" />
  <package id="DynamicLanguageRuntime" version="1.3.4" targetFramework="net48" />
  <package id="IronPython" version="3.4.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0-rc.1.23419.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0-rc.1.23419.4" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Prism.Container.Abstractions" version="9.0.61-pre" targetFramework="net48" />
  <package id="Prism.Core" version="9.0.271-pre" targetFramework="net48" />
  <package id="Prism.Events" version="9.0.271-pre" targetFramework="net48" />
  <package id="Prism.Wpf" version="9.0.271-pre" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.DirectoryServices" version="6.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>